body
{
  /* background-color: #B8B8B8; */
  background-image: linear-gradient(to right, white , #202020);
  margin-top: 0;
}
div.jumbotron {
    padding-top: 0.5%;
    min-height: 350px;
    margin: 0 0 0 0;
    background-image: linear-gradient(to right, #0033FF , #000099)	;


}
label{
  margin-bottom: 0;
  font-size:90px;
  /* width:200px; */
  font-weight: 600;
  font-family: monospace;
  color: white;
}
img
{
  width:95%;
  height:340px;
  margin-top: 0;
  position: absolute;
border-style: groove

}
div.col-8{
  margin-top: 60px;
}
.submit{
  margin-top: 30px;
}
